@font-face {
    font-family: 'Hubot Sans';
    src:
        url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

main {
    font-family: Lora, serif;
    line-height: 1.6;
}

h1, h2, h3, h4, strong, .sidebar-nav, thead, blockquote, .tip, .warn {
    font-family: 'Hubot Sans';
}

code {
    font-family: 'JetBrains Mono' !important;
}

.content p, li {
    font-size: 1rem;
    text-align: justify;
}